.add-movie {
	background: transparent;
	border: none;
	font-weight: 100;
	font-size: 50px;
	font-family: sans-serif;
	line-height: 40px;
	outline: transparent;
	height: 50px;
	width: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	text-align: center;
}

.card:hover .add-movie {
	display: block;
}

.add-movie:hover {
	cursor: pointer;
}
